pip==25.2
scikit-learn
huggingface-hub
openai
streamlit==1.38.0
langchain==0.2.12
langchain-core==0.2.24
langchain-community==0.2.11
langchain-text-splitters==0.2.2
sentence-transformers==3.0.1
faiss-cpu==1.8.0
PyPDF2
python-dotenv
tiktoken
